@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #2196f3;
  --primary-color-light: #6ec6ff;
  --primary-color-dark: #0069c0;
  --box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

h2,
h3 {
  font-family: "Mukta", sans-serif;
}

p {
  font-family: "Mukta", sans-serif;
}

/* Navigation */

nav {
  background-color: var(--primary-color);
}

nav h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  color: white;
}

a {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__ul__li {
  margin: 1rem 2rem;
  position: relative;
}

.nav__ul__li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  background: var(--primary-color-light);
  padding: 0.2rem 2rem;
  border-radius: 10px;
}

.nav__ul__li:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  position: relative;
}

.nav__ul__li a:hover {
  color: var(--primary-color-dark);
  transition: color 0.2s ease-in-out;
}

/* Hero Section */

.hero-section {
  width: 900px;
  height: 500px;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(https://cdn.pixabay.com/photo/2016/11/18/19/55/guitar-1836655_960_720.jpg);
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.hero-section h1 {
  color: white;
  font-weight: 300;
  font-size: 3rem;
}

.hero-section:hover {
  transform: scale(1.05);
}

/* About Section */

.about-section {
  margin: 1rem auto;
  text-align: center;
  width: 1200px;
}

.about-section h2 {
  margin-top: 5rem;
  font-size: 3rem;
}

/* Guitars Section */

.guitars-section {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 3rem auto;
}

.guitar__item {
  background: linear-gradient(var(--primary-color), var(--primary-color-dark));
  padding: 1rem;
  width: 300px;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.guitar__item img {
  width: 300px;
  height: 50%;
}

.guitar__item h2 {
  color: white;
  margin-bottom: 1rem;
}

.guitar__item p {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
}

.guitar__item button {
  margin-top: 1rem;
  height: 100px;
  width: 90%;
  background-color: var(--primary-color-light);
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.guitar__item button:hover {
  background-color: var(--primary-color);
}

/* Cart Page */

.header {
  background: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
}

.cart-items {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  color: white;
}

.cart__item {
  margin: 1rem auto;
  text-align: center;
  width: 500px;
  height: 500px;
  background: var(--primary-color);
}

.cart__item img {
  width: 80%;
  height: 80%;
}

.checkout-btn {
  margin: 1rem;
  height: 100px;
  width: 50%;
  background-color: var(--primary-color-light);
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(50%);
}

.checkout-btn:hover {
  background-color: var(--primary-color);
}
